.pagination {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    max-width: 200px;
}

.pagination button:disabled:hover {
    cursor: initial;
    background-color: transparent;
}